.mobile-nav-header {
  display: none;
  z-index: -999;
}

.mobile-nav-header .logo {
  text-align: center;
  padding-top: 20px;
}

.mobile-nav-header button {
  background-color: transparent;
  font-size: var(--fontsize-ml);
  position: absolute;
  left: 20px;
  top: 20px;
}

.mobile-nav-header li:nth-child(2) {
  justify-content: center;
}

.mobile-nav {
  width: 380px;
  height: 100vh;
  top: 0;
  background-color: var(--color-primary);
  position: fixed;
  z-index: 999;
  overflow-y: auto;
  display: none;
}

.mobile-nav button {
  background-color: transparent;
}

.mobile-nav .fa-times {
  font-size: var(--fontsize-m);
}

.mobile-nav input {
  background-color: transparent;
  border: none;
  border-width: 1px;
  border-bottom: 1px solid var(--color-black);
  padding: var(--spacing-xs);
  font-size: var(--fontsize-m);
  font-weight: 600;
}

.mobile-nav input::placeholder {
  color: var(--color-lightgray);
  font-weight: 400;
}

.mobile-nav-top {
  display: flex;
  margin-top: var(--spacing-l);
  justify-content: space-between;
  padding: 0 var(--spacing-l);
}

.mobile-nav .menu {
  flex-direction: column;
}

.mobile-nav .menu li {
  margin-top: var(--spacing-l);
  font-size: var(--fontsize-ml);
}

.mobile-nav .account {
  padding: 0 var(--spacing-l);
  margin-top: var(--spacing-xxl);
  font-size: var(--fontsize-ml);
}

.mobile-nav .menu li:hover {
  opacity: 60%;
}

@media only screen and (max-width: 1120px) {
  .mobile-nav-header {
    display: block;
  }

  .mobile-nav {
    /* display: block; */
  }

  .navigation-desktop > .menu,
  .navigation-desktop > .user,
  .navigation-desktop > img {
    display: none;
  }
}

@media only screen and (max-width: 764px) {
}
